<div class="container">
    <a>{{'当前在线:'+onlineUsers}}</a>
    <table class="chat-table">
        <tr ng-repeat="result in datas">
            <td>{{data.name==result.name||result.hide?"":result.date}}</td>
            <td style="color:#00B7FF">{{data.name==result.name||result.hide?"":result.name}}</td>
            <td ng-class="{'other-line':data.name!=result.name,'chat-line':data.name==result.name}">
                <div class="triangle-left" ng-if="data.name!==result.name"></div>
                <div ng-class="{'chat-bubble-left':data.name!=result.name,'chat-bubble-right':data.name==result.name}">
                    {{"&nbsp;&nbsp;"+result.content+"&nbsp;&nbsp;"}}
                </div>
                <div class="triangle-right" ng-if="data.name==result.name"></div>
            </td>
            <td style="color:#ff8514" ng-show="data.name==result.name">{{result.hide?"":result.name}}</td>
            <td ng-show="data.name==result.name">{{result.hide?"":result.date}}</td>
        </tr>
    </table>
    <form name="chatForm" role="form" class="form-horizontal chat-input" ng-submit="smsTest()">
        <div class="form-group">
            <div class="input-group">
                <input class="form-control" required type="text" placeholder="内容" ng-model="data.content">
                 <span class="input-group-btn">
                     <input class="btn btn-primary" type="submit" value="提交" ng-disabled="chatForm.$invalid">
                     <a class="btn btn-default" data-ng-click="history()">历史记录</a>
                 </span>
            </div>
        </div>
    </form>
</div>