<div>
    <table class="chat-table">
        <tr ng-repeat="result in datas" >
            <td>{{data.name!=names[$index]?result.date:""}}</td>
            <td style="color:#00B7FF">{{data.name!=names[$index]?result.name:""}}</td>
            <td ng-class="{'other-line':data.name!=names[$index]}">{{"&nbsp;&nbsp;"+result.content}}</td>
            <td style="color:#ff8514" ng-show="data.name==names[$index]">{{result.name}}</td>
            <td ng-show="data.name==names[$index]">{{result.date}}</td>
        </tr>
    </table>
    <form name="chatForm" role="form" class="form-horizontal" ng-submit="smsTest()">
        <div class="form-group">
            <span>{{"欢迎!"+data.name}}</span>
            <a ng-click="logout()">登出</a>
            <input required type=”text” placeholder="内容" ng-model="data.content">
            <input class="btn btn-primary" type="submit" value="提交" ng-disabled="chatForm.$invalid">
            </input>
        </div>
    </form>
</div>