<div calss="container">
    <a>{{'当前在线:'+onlineUsers}}</a>
    <table class="chat-table">
        <tr ng-repeat="result in datas">
            <td>{{data.name==result.name||result.hide?"":result.date}}</td>
            <td style="color:#00B7FF">{{data.name==result.name||result.hide?"":result.name}}</td>
            <td ng-class="{'other-line':data.name!=result.name,'chat-line':data.name==result.name}">
                {{"&nbsp;&nbsp;"+result.content+"&nbsp;&nbsp;"}}
            </td>
            <td style="color:#ff8514" ng-show="data.name==result.name">{{result.hide?"":result.name}}</td>
            <td ng-show="data.name==result.name">{{result.hide?"":result.date}}</td>
        </tr>
        <tr ng-repeat="result in toSend">
            <td>{{""}}</td>
            <td>{{""}}</td>
            <td class="chat-line">
                <span class="glyphicon glyphicon-share-alt"></span>
                {{result.content+"&nbsp;&nbsp;"}}
            </td>
            <td style="color:rgba(56, 149, 67, 0.79)">发送中</td>
            <td>{{result.date}}</td>
        </tr>
    </table>
    <form name="chatForm" role="form" class="form-horizontal" ng-submit="smsTest()">
        <div class="form-group">
            <div class="input-group chat-input">
                <input class="form-control" required type="text" placeholder="内容" ng-model="data.content">
                 <span class="input-group-btn">
                     <input class="btn btn-primary" type="submit" value="提交" ng-disabled="chatForm.$invalid">
                     <a class="btn btn-default" data-ng-click="history()">历史记录</a>
                 </span>
            </div>
        </div>
    </form>
</div>