ssh/*
.bundle
.env
db/*.sqlite3
log/
tmp/
.sass-cache/
.redcar/*
.DS_Store
._redcar/*
.project
coverage
test/vcr_cassettes
test/vcr_cassettes/*
.idea/
lib/assets/bower_components
coverage/
.metrics
node_modules
bower_components
public/assets/
features/cucumber_report.xml
features/report.json
spec/reports/*.xml
karma_test/karma-test-results.xml
npm-debug.log
karma_test/*.xml

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
